.main_container {
  padding: 3em;
  background-color: #020304;
}
.videoPlayer__container {
  border-radius: 22px;
  overflow: hidden;
  z-index: 1;
}

.thumbnail {
  border-radius: 16px;  
}
/* 
.scroll {
  height: 300px;
  /* overflow-y: scroll; 
} */