.main_container {
  background-color: #121414;
}
.videoPlayer__container {
  border-radius: 22px;
  overflow: hidden;
  z-index: 1;
  margin: 2em 1em;
}

.scroll {
  height: 100vh;
  padding-top: 7em;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.scroll > div {
  flex: 0 0 auto;
  margin: -3em 0.5em;
}

.thumbnail > img {
  border-radius: 29px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .videoPlayer__container {
    border-radius: 0;
    height: auto;
    margin: 0;
  }
  .thumbnail {
    margin: 0;
  }
}
